.game-setup {
  display: flex;
  padding: 6px;
  gap: 6px;
}

.display-button {
  background-color: #1c841c;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.display-button:hover {
  background-color: #283593;
  transform: translateY(-2px);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

.display-button:active {
  transform: translateY(0);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

.victory-text {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}

.table-container {
  max-width: 90%;
  max-height: 800px;
  margin: 6px;
  overflow: auto;
  border: 2px solid #ddd;
  font-size: large;
  font-weight: bold;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  background-color: #4d484d;
  border: 2px solid #b9b9b9;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100px;
}

.data-table th {
  background-color: #000000;
  border-top: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.player-cell,
.team-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.age-cell,
.trophies-cell,
.worlds-cell,
.tournaments-cell {
  position: relative;
  align-items: center;
  justify-content: center;
}

.age-cell span, 
.trophies-cell div, 
.trophies-cell button,
.worlds-cell span, 
.tournaments-cell div,
.tournaments-cell button {
  position: relative;
  z-index: 1;
}

.player-image {
  width: 100px;
  height: 100px;
  margin: 6px;
  margin-top: -4px;
  object-fit: cover;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.75));
}

.team-image {
  width: 60px;
  height: 60px;
  margin: 6px;
  object-fit: cover;
  filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.75));
}

.arrow-icon {
  position: absolute;
  width: 140px;
  align-self: center;
  opacity: 0.2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}